* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

/* Image Styles */

.image-container {
  width: 5px;
  height: 5px;
  background-color: #ccc;
  background-image: url(./image/caramel-apple.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
};